.cover-container {
    height: 40vh;
    background-color: #121212;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10%;
    color: white;
    gap: 5rem;
  }
  
  
  
  .image-container {
    position: relative;
  }
  
  .profile-image {
    width: 10rem;
    height: 10rem;
    border-radius: 9999px;
    object-fit: cover;
  }
  
  .button-container {
    position: absolute;
    bottom: 0;
    right: 0;
  }
  
  .upload-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2rem;
    height: 2rem;
    background-color: #000;
    border-radius: 9999px;
    cursor: pointer;
    transition: background-color 0.2s;
  }
  
  .upload-button:hover {
    background-color: #ffa500;
  }
  
  .camera-icon {
    width: 1rem;
    height: 1rem;
    color: white;
  }
  
  .hidden-input {
    display: none;
  }
  
  .text-container {
    flex: 1;
    text-align: center;
  }
  
  @media (min-width: 768px) {
    .text-container {
      text-align: left;
    }
  }
  
  .title {
    font-size: 3rem;
    margin-bottom: 0.5rem;
  }
  
  .description {

    white-space: pre-line;
  }