.modal{
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(10px);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}


.registrationContainer {
  background-color: #2d0130;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  width: 800px;
  z-index: 1000;
  position: relative;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 20px;
  height: 20px;
  background-color: transparent;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  text-align: center;
  line-height: 20px;
  color: white;
  font-weight: bold;
  font-size: 22px;
}



.formSection {
  flex: 1;
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: background-color 0.3s ease;
  /* Smooth transition */
}

.active {
  background-color: #1c0020;

}

.activeStore {
  background-color: #ffa500;

}

.inactiveUser {
  backdrop-filter: blur(50px);
  /* Apply blur effect to the background */
  background-color: rgba(28, 0, 32, 0.1);
  filter: blur(2px);
  /* Adjust the pixel value for more or less blur */
  transition: filter 0.3s ease;

}

.inactiveStore {
  background-color: rgba(28, 0, 32, 0.1);
  filter: blur(2px);
  transition: filter 0.3s ease;
}



.formTitle {
  margin-bottom: 20px;
  color: #fff;
  text-transform: uppercase;

  font-size: large;
  display: inline-block;
  border-bottom: 2px solid white;
  padding-bottom: 5px;

}

form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
  max-width: 300px;
}

input {
  padding: 12px;
  border-radius: 5px;
  border: 1px solid #ccc;
  background-color: white;
  color: black;
  font-size: 16px;
}

.submitButton {
  background-color: white;
  border: none;
  padding: 12px;
  border-radius: 5px;
  color: #6d3ba3;
  cursor: pointer;
  font-weight: bold;
  font-size: 16px;
}

.loginLink {
  text-align: center;
  color: #ffa500;
  text-decoration: none;
  font-size: 16px;
}

.message{
  color: white;
  text-align: center;
}