/* GameChart.css */
.container {
    display: flex;
    background-color: #333;
    color: #fff;
    padding: 20px;
    width: 45%;
    height: 140px;
    align-items: center;

    margin-top: 10rem;
  }
  
  .imageContainer {
    flex: 0  120px;
    height: 100%;
    margin-right: 20px;
  }
  
  .gameImage {
    width: 100%;
    border-radius: 10px;
  }
  
  .detailsContainer {
    flex: 1;
    margin-top: 25px;
  }
  
  .gameTitle {
    margin: 0 0 5px 0;
    font-size: 16px;
  }
  
  .releaseInfo {
    margin: 0 0 10px 0;
    color: #aaa;
  }
  
  .rating {
    display: flex;
    margin-bottom: 10px;
    justify-content: space-between;
   
  }

  .star {
    font-size: 18px;
    margin-right: 1px;
  }
  
  .platforms {
    display: flex; 
    justify-content: space-between;  
  }
  
  .platformIcon {
    font-size: 20px;
    margin-right: 10px;
    display: inline;
  }
  
  .priceContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .price {
    font-size: 18px;
    font-weight: bold;
    
  }
  
  .platforms .addButton {
    background-color: #fff;
    color: black;
    font-weight: bold;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;   
    margin-bottom: 2rem;
  }
  
  .shoppingCart{
    size: px;
  }
  