body {
  margin: 0;
  padding: 0;
  background-color: #000;
}

.App {
  position: relative;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000; /* Ensure navbar is on top */
}

.content-wrapper {
  padding-top: 60px; /* Adjust based on your navbar height */
}

.hero {
  position: relative;
  z-index: 1;
}

.search-nav-wrapper {
  position: relative;
  z-index: 2;
  margin-top: -50px; /* Adjust this value for desired overlap */
}

.search-bar {
  position: relative;
  z-index: 3;
  margin-bottom: -25px; /* Adjust for overlap with NavigationIcons */
}

.navigation-icons {
  position: relative;
  z-index: 2;
}

.carousel {
  position: relative;
  z-index: 1;
}